<div className='footer'>
  <ul class='footerUl'>
    <li class='footerLi'>Proudly Made in San Jose, CA by Juan Carlos Rivas</li>
    <li class='footerLi'><a href="https://www.linkedin.com/in/onerivas/" target="_blank"><i class="fab fa-linkedin"></i></a> </li>
    <li class='footerLi'><a href="https://github.com/onerivas/project2" target="_blank"><i class="fab fa-github-square"></i></a></li>
  </ul>
</div>
