<nav class='nav navbar-dark bg-dark nav-fill'>
  <a href="/home" class='nav-link'>Home</a>
  <% if (currentUser) { %>
  <a class='nav-link' href="/movies">Movies</a>
  <a class='nav-link' href="/movies/new"> + Movie</a>
  <!-- <a class='nav-link' href="/tvShows">TV Shows</a> -->
  <!-- <a class='nav-link' href="/tvShows/new"> + TV Show</a> -->
  <form class="nav-link" action="/sessions?_method=DELETE" method="POST">
    <input class='btn-light' type="submit" value="Log Out">
  </form>
  <% } else { %>
  <a class='nav-link' href="/users/new">Sign up</a>
  <a class='nav-link' href="/sessions/new">Log In</a>
  <% } %>
</nav>
