<!DOCTYPE html><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>Movies</title>
  </head>
  <body>
<div class="container-fluid fullBackground">

    <%- include ('../partials/nav.ejs') %>

  <div class="card-body">
    <form class="form-row" action="/movies" method="POST">
      <label class='col-form-label col-sm-2' for="title">Title:</label>
      <input class="form-control col-sm-10"  type="text" name="title" required><br>
      <label class='col-form-label col-sm-2' for="genres">Genres:</label>
      <input class="form-control col-sm-10"  type="text" name="genres" required><br>
      <label class='col-form-label col-sm-2' for="rated">Rated:</label>
      <input class="form-control col-sm-10"  type="text" name="rated" required><br>
      <label class='col-form-label col-sm-2' for="runTime">Run Time:</label>
      <input class="form-control col-sm-10"  type="text" name="runTime" required><br>
      <label class='col-form-label col-sm-2' for="moviePoster">Movie Poster URL:</label>
      <textarea class="form-control col-sm-10"  type="text" name="moviePoster" rows='5' ></textarea><br>
      <label class='col-form-label col-sm-2' for="description">Description:</label>
      <textarea class="form-control col-sm-10"  type="text" name="description" rows='5'></textarea><br>
      <label class='col-form-label col-sm-3' for="available">Is it available?</label>
      <input class='form-control col-sm-8' type="checkbox" id='available' name="available"
      ><br>
      <input class='btn-light form-control' type="submit" value="Add New Movie">
    </form>

  </div>
</div>
  </body>
</html>
